body {
  background-color: #f8d6d0;
  margin: auto;
  
}

#page-wrap {
  width: 800px;
  margin: 0 auto;
}

.headerDesign {
  margin: auto;
  margin-top: 0px;
  box-shadow: 0px 16px 18px 9px black;
  
}

.brandHeading {
  text-align: center;
  font-size: 50px;
  margin: 0px;
  padding-top: 49px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.hide  {
  display: none;
}

.designMantraLogo {
  padding: 71px 0px;
  margin: 0px;
  font-size: 69px;
  font-family: 'Homemade Apple', cursive;
}

.heaingLogo {
  padding: 226px 0px;
  text-align: center;
}

i {
  font-size: 50px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.icons {
  padding-right: 56px;
  display: inline;
}

.imgpos {
  position: absolute;
  padding-top: 143px;
  max-width: 350px;
}

.imgpos2 {
  float: right;
  /* text-align: right; */
  width: 225px;
  position: absolute;
  padding-left: 600px;
  padding-top: 166px;
}

.arrow {
  text-align: left;
  position: absolute;
  z-index: -1;
}

.linksClickable {
  text-align: center;
  font-size: 90px;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 200px;
}

.arrowimg {
  width: 200px;
  display: block;
  margin: auto
}